@font-face {
    font-family: roboto;
    src: url('/assets/fonts/Roboto-Regular.ttf');
  }
  @font-face {
    font-family: roboto-light;
    src: url('/assets/fonts/Roboto-Light.ttf');
  }
  

body {
  margin: 0;
  font-family: roboto;
  background-color:darkgray;
}

section {
  font-family: roboto-light;
  padding: 0 2rem 0 2rem;
}

#scrollTopButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #976F48; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#arrowUpIcon {
  width: 30px;
  height: 30px;
  filter: invert(99%) sepia(0%) saturate(646%) hue-rotate(55deg) brightness(115%) contrast(100%);
}


#navbar {
z-index: 999;
position: fixed;
top: 0;
width: 100%;
height: 75px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #fff;
}

ul {
  padding: 0;
}

#logo {
  background-color: transparent;
  border: none;
margin-left: 20px;
}

#logo-svg {
  width: 75px;
  height: 75px;
}

#menuBtn {
width: 30px;
height: 30px;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-right: 20px;
cursor: pointer;
}

#menuBtn .bar {
width: 100%;
height: 4px;
background-color: #454311;
transition: transform 0.3s ease, opacity 0.3s ease;
}

#menuBtn.close .bar:nth-child(1) {
transform: translateY(13px) rotate(45deg);
}

#menuBtn.close .bar:nth-child(2) {
opacity: 0;
}

#menuBtn.close .bar:nth-child(3) {
transform: translateY(-13px) rotate(-45deg);
}

#menuView {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
}

#menuContent {
  text-align: center;
  color: #fff;
}

.menuContentList:not(:first-child) {
  margin-top: 1rem;
}

.menuContentListLink {
  font-family: roboto-light;
  letter-spacing: 3px;
  text-decoration: none;
  color: #454311;
  text-transform: uppercase;
  font-size: 1.5rem;
}

#hero {
  position: relative;
  background-color: #F5EAE3;
  width: 100%;
  height: calc(100vh + 75px);
}

#hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#hero-content-button {
  outline: none;
  border: 1px solid #976F48;
  border-radius: 6px;
  border-color: #976F48;
  background-color: #976F48;
  box-shadow: none;
  cursor: pointer;
}

#hero-content-button-text {
  font-family: roboto;
  font-size: .8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#hero-content-button-text-link {
  display: block;
  padding: 1em 1rem;
  color: #fff;
  text-decoration: none;
}

#hero-content-image {
  height: 15rem;
  width: auto;
}

#hero-content-address {
  font-size: 1rem;
  font-family: roboto-light;
  padding-top: 1rem;
  color: #454311;
}

.pricing {
  background-color: #454311;
  text-align: center;
  color: #fff;
}

article:not(:last-child) {
  padding-bottom: 3rem;
}

article:last-child {
  padding-bottom: 5rem;
}

.header {
  text-transform: uppercase;
  font-weight: normal;
}

h2 {
  padding-top: 5rem;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.sub-text {
  font-size: .9rem;
  font-style: italic;
  font-weight: lighter;
  color: #fff;
  margin-bottom: 2.5rem;
}

.sub-text > * {
  margin: 0;
}

.pricing-text {
  font-size: 1.2rem;
  margin: 0;
}

#cancellation {
  background-color: #fff;
  text-align: center;
  font-family: roboto-light;
  padding-bottom: 5rem;
}

#contact {
  background-color: #F5EAE3;
  text-align: center;
  font-family: roboto-light;
  padding-bottom: 5rem;
}

footer {
  color: #fff;
  background-color: hsl(60, 1%, 19%);
  font-family: roboto-light;
}

footer > div {
  padding: 1rem;
}

.contact-detail {
  margin-bottom: 10px;
}

.contact-detail > .telephone-link { color: #454311; }

.contact-detail > p { display: inline; }

.contact-icon {
  filter: invert(24%) sepia(43%) saturate(636%) hue-rotate(20deg) brightness(91%) contrast(98%);
  height: 24px;
  width: 24px;
}

.contact-detail-button {
  margin-top: 25px;
}

.instagram-button {
  text-decoration: none;
  color: #454311;
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px lightgray;
}

footer > div > p {
  margin-bottom: 0;
}

@media only screen and (min-height: 28.125em) {
  #hero {
   height: 100vh;
  }
 
  #hero-content-image {
   height: 40vh;
   width: auto;
 }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
  .pricing-header {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {  
  #hero-content-button-text-link {
    padding: 1rem 2.5rem;
  }

  #hero-content-image {
    height: 50vh;
    width: auto;
  }
}